div.container
	p
		div.row
			div.col-md-8
				ul.nav.nav-tabs
					li.active
						a(href='#') All
					li
						a(href='#') New
					li
						a(href='#') Most voted
					li
						a(href='#') Unanswered
					
				div.tab-content
					div#all.tab-pane.active
						div.list-group
							div.list-group-item
								h4.list-group-item-heading
									a(href='#') dropbox auto login user
								p.list-group-item-text hello i am try to make a autologin but the key that i wont to him to search and according to that filter out to a file #!/bin/bash echo echo key=redirected echo echo count=1 while [ $count -le 1 ] do ...
							
							div.list-group-item
								h4.list-group-item-heading
									a(href='#') Chaning MacVim's default shell?
								p.list-group-item-text I currently have my default shell set to zsh in terminal. However, upon execution !echo $SHELL in MacVim, it returns /bin/bash, which is obviously the shell that I don't want. How can I set zsh as ...
			div.col-md-4 Dummy text						