.container
	.footer
		hr
		p &copy;&nbsp;CodeMagik&nbsp;2013
link(rel='stylesheet', href='/css/bootstrap.css')
link(rel='stylesheet', href='/css/jumbotron.css')
script(src='/scripts/bootstrap.js')
script(src='/scripts/bootstrap.min.js')

block footer
