div.jumbotron
	div.container
		h1 Questions?
		p Get it answered within your community.
		p.btn.btn-primary.btn-lg
			| Learn more &raquo;

link(rel='stylesheet', href='/css/bootstrap.css')
link(rel='stylesheet', href='/css/jumbotron.css')
script(src='/scripts/bootstrap.js')
script(src='/scripts/bootstrap.min.js')

block homepage