div.navbar.navbar-inverse.navbar-fixed-top
	div.container
		div.navbar-header
			button.navbar-toggle(data-toggle='collapse' data-target='.navbar-collapse')
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='#')
			| BuildTop
		div.navbar-collapse.collapse
			ul.nav.navbar-nav
				li
					a(href='#') How it works
				li
					a(href='#') Pricing
				li
					a(href='#') Blog
				li
					a(href='#') Contact
				li
					a(href='#') Signup
			form.navbar-form.navbar-right
				div.form-group
					input.form-control(type='text' placeholder='Email')
				div.form-group
					button.btn.btn-success(type='submit') Sign in
link(rel='stylesheet', href='/css/bootstrap.css')
link(rel='stylesheet', href='/css/jumbotron.css')
script(src='/scripts/bootstrap.js')
script(src='/scripts/bootstrap.min.js')

block loggedoutheader
